[submodule "deps/protobuf/source"]
	path = deps/protobuf/source
	url = https://github.com/SteamDatabase/Protobufs.git
[submodule "deps/decky-loader"]
	path = deps/decky-loader
	url = https://github.com/SteamDeckHomebrew/decky-loader.git
